*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
bin/
gen/
target/
.externalNativeBuild
.cxx
local.properties
release.properties
buildSrc/build
build.xml
pom.xml.*
.classpath
.project
.externalToolBuilders/
*.ipr
*.iws
.idea/
out/
build
